.contentWrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.containerLg {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}
.containerXl {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
}
.feedback {
  --transition-duration: 0.35s;
  --transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  padding: 50px 0px;
}
.commonFeedbackbox {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.commonTitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #32325d;
}
.commonUppercaseText {
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.commonText {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #525f7f;
}
.commonButton {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.feedback .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 56.25vw;
  top: calc(100vw * 0.5625);
  margin-top: -24px;
  border-radius: 50%;
  cursor: pointer;
  will-change: transform;
  padding: 0;
}

.feedback .commonFeedbackbox {
  display: grid;
  grid: minmax(auto, 56.25vw) auto/1fr;
  grid: minmax(auto, calc(100vw * 0.5625)) auto/1fr;
  padding: 0;
}
.feedback .feedbackLogo .video .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  left: 50%;
  margin-left: -36px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/template/play.svg);

  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0;
}
.feedback .feedbackLogo {
  position: relative;
  display: grid;
  grid: auto/repeat(5, 100%);
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  -webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.feedback .feedbackLogo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
  -webkit-transition: -webkit-transform var(--transition-duration)
    var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration)
    var(--transition-timing-function);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.feedback .feedbackLogo li > svg {
  max-width: 230px;
  max-height: 60px;
}
.feedback .feedbackLogo svg path {
  fill: #fff;
}
.feedback .feedbackLogo .video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}
.feedback .quotes {
  position: relative;
  display: grid;
  grid: auto/repeat(5, 100%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.feedback .quotes li {
  padding: 40px 20px 20px;
  margin-bottom: -5px;
  -webkit-transition: -webkit-transform var(--transition-duration)
    var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration)
    var(--transition-timing-function);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.feedback .quotes .commonTitle {
  position: relative;
  font-weight: 400;
  font-style: italic;
}
.feedback .quotes .commonTitle:before {
  content: open-quote;
  position: absolute;
  left: -10px;
}
html[lang="ja"] .feedback .quotes .commonTitle:before {
  left: -20px;
}
.feedback .quotes .commonTitle:after {
  content: close-quote;
  position: absolute;
}
.feedback .quotes .commonUppercaseText {
  margin-top: 20px;
  color: #32325d;
}
.feedback .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}
.feedback .logos li {
  cursor: pointer;
  margin-bottom: 20px;
}
.feedback .logos li:not(:last-child) {
  margin-right: 40px;
}
.feedback .logos li:hover svg path {
  fill: #525f7f;
}
.feedback .logos li svg {
  pointer-events: none;
}
.feedback .logos svg path {
  fill: #aab7c4;
  -webkit-transition: fill var(--transition-duration)
    var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.feedback .nav.previous {
  left: -12px;
}
.feedback .nav.previous svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.feedback .nav.next {
  right: -12px;
}
.feedback[data-visible-quote="0"] .commonFeedbackbox li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.feedback[data-visible-quote="0"] .logos li:first-child svg path {
  fill: #525f7f;
}
.feedback[data-visible-quote="0"] .feedbackLogo {
  background-color: #c54531;
}
.feedback[data-visible-quote="1"] .commonFeedbackbox li {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.feedback[data-visible-quote="1"] .logos li:nth-child(2) svg path {
  fill: #525f7f;
}
.feedback[data-visible-quote="1"] .feedbackLogo {
  background-color: #000;
}
.feedback[data-visible-quote="2"] .commonFeedbackbox li {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.feedback[data-visible-quote="2"] .logos li:nth-child(3) svg path {
  fill: #525f7f;
}
.feedback[data-visible-quote="2"] .feedbackLogo {
  background-color: #2d3138;
}
.feedback[data-visible-quote="3"] .commonFeedbackbox li {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.feedback[data-visible-quote="3"] .logos li:nth-child(4) svg path {
  fill: #525f7f;
}
.feedback[data-visible-quote="3"] .feedbackLogo {
  background-color: #ffb300;
}
.feedback[data-visible-quote="4"] .commonFeedbackbox li {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.feedback[data-visible-quote="4"] .logos li:nth-child(5) svg path {
  fill: #525f7f;
}
.feedback[data-visible-quote="4"] .feedbackLogo {
  background-color: #6bf;
}
.feedback .feedbackLogo .video.teespring {
  background-image: url(../images/template/teespring-video-cover.jpg);
  background-size: cover;
  background-position: 50%;
}
.videoContainer {
  --transition-duration: 0.35s;
  --transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(82, 95, 127, 0);
  z-index: 1000;
  -webkit-transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  visibility: hidden;
}

@media (min-width: 880px) {
  .videoContainer {
    padding: 50px 0px;
  }
}

.videoContainer.visible {
  background-color: rgba(82, 95, 127, 0.35);
}

.videoContainer.visible video {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.videoContainer video {
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
  border-radius: 8px;
  -webkit-box-shadow: 0 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 93, 0.5),
    0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
@media (min-width: 880px) {
  .feedback .feedbackLogo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: #fff;
  }
  .feedback .feedbackLogo {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
  .feedback .commonFeedbackbox {
    grid: auto/5fr 8fr;
  }
  .feedback .feedbackLogo li {
    padding: 0 70px 0 30px;
  }
  .feedback .feedbackLogo li > svg {
    max-height: 100px;
  }
  .feedback .quotes {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 50px,
      #000 calc(100% - 50px),
      transparent
    );
  }
  .feedback .logos {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .feedback .quotes li {
    padding: 50px;
  }
  .feedback .nav {
    top: 50%;
  }
  .feedback .nav.previous {
    left: -24px;
  }
  .feedback .nav.next {
    right: -24px;
  }
}
@media (min-width: 670px) {
  .feedback .quotes li {
    padding: 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  .feedback .feedbackLogo .video.teespring {
    background-image: url(../images/template/teespring-video-cover.jpg);
  }
}
@media (max-width: 1200px) {
  .containerXl {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 767px) {
  .videoContainer {
    height: 100%;
  }
}
