static/*.mp4 filter=lfs diff=lfs merge=lfs -text
static/pipesImg.png filter=lfs diff=lfs merge=lfs -text
static/cubesImg.png filter=lfs diff=lfs merge=lfs -text
static/cubesObjectsImg.png filter=lfs diff=lfs merge=lfs -text
