.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  justify-content: "flex-end";
}

.footerSearch {
  padding-bottom: 10px;
  display: flex;
}

.socialMediaIcons a {
  display: inline-block;
  padding: 5px;
}

.socialMediaIcons img {
  width: 20px;
  opacity: 0.5;
  transition: 0.3s;
}

.socialMediaIcons img:hover {
  width: 20px;
  opacity: 0.8;
}

.followUs {
  padding-top: 5px;
  padding-right: 10px;
}

.footerContent {
  padding: 40px 0px 40px 0px;
  border-top: 1px Solid;
  border-bottom: 1px Solid;
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
}

.footerContent h4 {
  padding: 0px 0 25px 0px;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.footerContent ul {
  width: 24%;
}

.footerLinks {
  display: flex;
  width: 75%;
}

.footerLinks ul {
  width: 25%;
}

.footerLinks li {
  padding-bottom: 15px;
  font-size: 14px;
}

.footerLogoContainer {
  margin-right: 40px;
}

.footerLinksContainer li {
  display: inline-block;
  text-align: left;
  padding-right: 20px;
  padding-top: 10px;
}

.footerLinks a:link,
a:visited {
  color: rgb(131, 131, 131);
  transition: 0.3s;
}

.footerLinks a:hover {
  color: rgb(61, 61, 61);
}

.footerTerms {
  padding-top: 20px;
  font-size: 14px;
  display: flex;
}

.footerTerms a:link,
.footerTerms a:visited {
  color: rgb(182, 182, 182);
  transition: 0.3s;
}

.footerTerms a:hover {
  color: rgb(150, 150, 150);
}

.footerRegion {
  text-align: right;
  flex-grow: 1;
  opacity: 0.6;
}
