/*
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
*/
@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova-Regular-webfont.woff2");
}

body {
  font-family: "Proxima", serif;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}
/*
body {
  background: #fff;
  min-height: 100%;
  font-family: "Proxima", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
} */

.containerXl {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
}
.contentWrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.containerLg {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}

.buttonDark {
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  transition: all 0.2s;
  border: none;
  box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.2);
  background-color: #337ac8;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.buttonDark:hover {
  transform: translateY(-1px);
  box-shadow: 1px 8px 15px -3px rgba(0, 0, 0, 0.2);
  background-color: rgb(62, 136, 214);
}

.buttonLight {
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  transition: all 0.2s;
  border: none;
  box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.2);
  background-color: #f7f9fc;
  color: rgb(62, 136, 214);
  text-transform: uppercase;
  font-weight: 600;
}

.buttonLight:hover {
  transform: translateY(-1px);
  box-shadow: 1px 8px 15px -3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
