* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none
}

@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNova-Regular-webfont.woff2");
}

body {
  font-family: "proxima", impact;
}


.contentContainer {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



