* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova-Regular-webfont.woff2");
}

body {
  font-family: "Proxima", serif;
  
}


.contentContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 
}

.buttonDark{
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  transition: all 0.2s;
  border:none;
  box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.20);
  background-color: #337AC8;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
}

.buttonDark:hover{
  transform: translateY(-1px);
  box-shadow: 1px 8px 15px -3px rgba(0,0,0,0.20);
  background-color: rgb(62, 136, 214);
}

.buttonLight{
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  transition: all 0.2s;
  border:none;
  box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.20);
  background-color: #F7F9FC;
  color: rgb(62, 136, 214);
  text-transform: uppercase;
  font-weight: 600;
}

.buttonLight:hover{
  transform: translateY(-1px);
  box-shadow: 1px 8px 15px -3px rgba(0,0,0,0.20);
  background-color: #ffffff;
}




