

.headerContainer{
   
  z-index: 1000;
   
}

.contentWrapper{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.containerLg{max-width: 1040px;margin: 0 auto;padding: 0px;width: 100%;}

.footerContainer{
    width: 100%;
    padding: 100px;
    background-color: #f3f3f3;
  
  }