
.b2cMarketplaces{margin-top: 130px;margin-bottom: 50px;padding: 0 20px;}
.marketplacesTitleSection{text-align: center;}
.marketplacesTitleSection img{vertical-align: middle;}
.marketplacesTitleSection h3{color: #24b47e;text-align: center;width: 100%;font-size: 20px;line-height: 32px;font-weight: 600;text-transform: uppercase;letter-spacing: .025em;margin: 1em 0;}
.marketplacesTitleSection p{margin: 0 0 1em;padding: 0;font-weight: 300;font-size: 21px;line-height: 32px;color: #424770;max-width: 760px;margin-left: auto;margin-right: auto;text-align: left;}
.marketplacesGallerySection{background: #f4f4f4;-webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);border-radius: 4px;overflow: hidden;position: relative;margin: 30px 0 60px;}
.marketplacesGalleryPhoto{background-color: #a19273;background-image: url(../images/template/lyft.jpg);width: 100%;min-height: 370px;background-size: cover;background-position: 50% 50%;}
.marketplacesGalleryContent{webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;-webkit-box-sizing: border-box;box-sizing: border-box;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-flex: 0;-ms-flex: 0 1 auto;flex: 0 1 auto;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -.5rem;margin-right: 0;margin-right: calc((0 * .5) * -1);margin-left: -.5rem;margin-left: 0;margin-left: calc((0 * .5) * -1);}

.marketplacesQuoteWrapper .marketplacesQuote{margin: 0;padding: 40px;position: relative;z-index: 5;color: #fff;}
.marketplacesQuote h2{margin: 0 0 10px -2px;}
.marketplacesQuote p{position: relative;font-style: italic;font-size: 1.5em;line-height: 1.6em;margin-bottom: 0;}
.marketplacesQuote:before{content: "";display: block;background: #eb268d;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;-webkit-transform: translate(0,0);transform: translate(0,0);}
.marketplacesQuote:after{content: "";display: block;width: 100%;height: 95px;background: url(../images/template/lyft-vert.svg);background-size: 100% 100%;position: absolute;top: -95px;left: 0;}
.marketplacesGallerySectionWrapper{padding: 0 20px;}
.marketplacesGalleryBottomContent{padding: 0 20px;margin-bottom: 30px;}
.marketplacesGalleryBottomContent figure{width: 72px;margin: 10px;margin-left: 40px;float: right;text-align: center;}
.marketplacesGalleryBottomContent div p{font-weight: 400;font-size: 18px;line-height: 28px;color: #525f7f;margin: 0 0 1em;}
.commonLink{color: #6772e5;font-weight: 500;-webkit-transition: color .1s ease;transition: color .1s ease;cursor: pointer;}
.marketplacesGalleryBottomContentRight ul{line-height: 2em;list-style-type: none;padding: 1.5em 0 0;margin: 1.5em 0 0;border-top: 1px solid rgba(7,96,115,.07);font-weight: 400;font-size: 17px;line-height: 28px;color: #525f7f;}
.linkArrow:after{font: normal 16px StripeIcons;content: "\2192";padding-left: 5px;}
@media (min-width: 670px){
	.marketplacesTitleSection p{font-size: 24px;line-height: 36px;}
	.marketplacesTitleSection h3{font-size: 21px;line-height: 32px;}
	.marketplacesGalleryPhoto{position: absolute;top: 0;left: 0;right: 0;bottom: 0;min-height: auto;}
	.marketplacesQuoteWrapper .marketplacesQuote{padding: 66px;}
	.marketplacesQuote:after{width: 206px;height: 100%;background: url(../images/template/lyft.svg);background-size: 100% 100%;left: auto;right: -80px;top: 0;bottom: 0;z-index: -1;}
	.marketplacesQuote:before{opacity: .9216;right: 126px;}
	.marketplacesGalleryContent .marketplacesQuoteWrapper{flex-basis: 50%;max-width: 50%;}
	.marketplacesGalleryBottomContent div{flex-basis: 41.667%;max-width: 41.667%;}
	.marketplacesGalleryBottomContent{display: flex;justify-content: space-around;}
}
@media (max-width: 767px){
	.b2cMarketplaces{margin-top: 50px;}
}