button{border: none;outline: none;background: none;font-family: inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display: block;}
h1 {font-size: 2em;margin: .67em 0;}
.contentWrapper{
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.containerLg{max-width: 1040px;
    margin: 0 auto;
    padding: 0px;
    width: 100%;}

.servicesSection{
	margin: 80px 0px;
}
.servicesSection{
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    min-width: 100%;
    padding: 0;

}
.servicesBox{
	border-radius: 8px;
    position: relative;
    background-color: #fff;
    transition: transform .2s cubic-bezier(.215,.61,.355,1);
    transform: translateY(0);
    display: block;
    
}
.servicesInnercontainer{height: 100%;display: flex;}
.servicesBox:after, .servicesBox:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .4s cubic-bezier(.215,.61,.355,1);
    pointer-events: none;
    border-radius: 8px;
}
.servicesBox:before{
	box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
}
.servicesBox:after{
	box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    opacity: 0;
}
.servicesIcon{
	--container-size: 64px;
    position: absolute;
    z-index: 1;
    top: -22px;
    width: var(--container-size);
    height: var(--container-size);
    border-radius: calc(var(--container-size) / 2);
    left: calc(50% - var(--container-size) / 2);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s cubic-bezier(.215,.61,.355,1);
    transform-origin: 50% 20%;
    box-shadow: 0 2px 5px rgba(50,50,93,.1), 0 1px 1.5px rgba(0,0,0,.07);
}
.blueFill{fill: #87bbfd;}
.purpelFill{fill: #6772e5;}
.servicesBox .services-title{
	color: #32325d;
	font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 15px;
}
.servicesBox .services-desc{
	color: #6b7c93;
	font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}
.servicesFooter{
	background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    background-color: transparent;
}
.servicesLink{
    color: #6772e5;
    font-weight: 500;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    cursor: pointer;
}
.servicesLink:after{
	font: normal 16px StripeIcons;
    content: "\2192";
    padding-left: 5px;
}
.servicesSection .row{
	display: grid;
    grid-template-rows: auto;
    grid-gap: 40px 0;
}
.servicesIcon span{
	background-color: transparent;
	height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    max-height: 56%;
}
.servicesContentWrapper{
    overflow: hidden;
    padding: 50px 30px 80px;
    border-radius: 8px;
    position: relative;
}
.servicesIcon span svg{
	width: 100%;
    height: 100%;
}
.servicesFooter{position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    padding: 8px 10px;
    height: 56px;
    box-shadow: none;
    text-align: center;
    transition: .4s cubic-bezier(.215,.61,.355,1);
    background: #f6f9fc;
    display: flex;
    align-items: center;
    justify-content: center;}
.backgroundTransparent{
	background-color: transparent;
}
.servicesFooterIcon{
	width: 28px;
    height: 28px;
    margin: 0 10px 0 0;
}
.servicesFooterIcon svg{
	width: 100%;
    height: 100%;
}
.servicesBox:hover {
    transform: translateY(-2px);
    z-index: 2;
}
.servicesBox:hover:before{opacity: 0;}
.servicesBox:hover:after{opacity: 1;}
.servicesBox:hover .servicesIcon{transform: scale(.8) translateY(-10px);}
.servicesBox:hover .servicesFooter{transform: translateY(0);opacity: 1;}
.servicesFooter .servicesFooterText{font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.textBlue{
	color: #6772e5;
}
.textGreen{
	color: #24b47e;
}
.servicesFooter .servicesFooterText:after{
	content: "\279C";
    padding-left: 5px;
    font: normal 16px StripeIcons;
    display: inline-block;
    transition: transform .4s cubic-bezier(.215,.61,.355,1);
}
.servicesContent{transition: transform .4s cubic-bezier(.215,.61,.355,1);
    transform: translateY(0);}
.servicesBox:hover .servicesContent{transform: translateY(-16px);}

.innerCol{
	position: relative;
    text-align: left;
    margin-bottom: 30px;
    margin-top: -10px;
    padding-left: 30px;
    background-color: #f6f9fc;
    padding-right: 20px;
}
.innerColWrapper{
	padding-top: 40px;
    padding-bottom: 40px;
}
.innerColWrapper:first-of-type{border-bottom: 1px solid #e6ebf1;}
.servicesSectionTitle .servicesSectionTitleContent{margin: 0 auto 60px;max-width: 750px;text-align: center;}
.servicesSectionTitleContent span{overflow: hidden;background-color: #c4f0ff;height: 72px;width: 72px;border-radius: 50%;display: inline-flex;
    align-items: center;justify-content: center;}
.servicesSectionTitleContent span svg{width: 80%;height: 80%;transform: translateX(-10%);}
.servicesSectionTitleContent h2{color: #32325d;font-weight: 400;font-size: 34px;line-height: 44px;margin: 16px auto;margin-bottom: 20px;}
@media only screen and (max-width:1100px){
	.containerLg{width: calc(100% - 40px);}
	.container{width: calc(100% - 40px);}
}
@media (min-width:670px) {
	.servicesSection .row{
	    grid-template-columns: repeat(2,1fr);
	    grid-gap: 50px 20px;
	}
    .servicesSectionTitle .servicesSectionTitleContent{padding: 80px 20px 0;}
    .servicesSectionTitleContent h2{font-size: 42px;line-height: 52px;}
	.servicesIcon{
		--container-size: 78px;
	}
	.servicesContentWrapper{
		padding: 65px 40px 60px;
	}
	.servicesFooter{
		transform: translateY(50%);
    	opacity: 0;
	}
}
@media (min-width: 880px){
	.servicesSection .row{
    	grid-template-columns: repeat(3,1fr);
	}	
}
@media (max-width: 1024px){
    .servicesContentWrapper {padding: 65px 38px 60px;}
    .servicesFooter {transform: translateY(0);}
    .servicesFooter .servicesFooterText {font-size: 15px;}
}
@media (max-width: 767px){
    .servicesContentWrapper {padding: 50px 30px 80px;}
}