
a {text-decoration: none}
.contentWrapper{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1}

.containerLg{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 250px;
    width: 100%;}

    .corporateCardSection{padding: 0 20px;margin-left: auto;margin-right: auto;display: grid;grid-column-gap: 40px;grid-row-gap: 40px;margin: 30px 0px;}
.corporateCardContent h3{font-weight: 500;font-size: 19px;line-height: 32px;color: #32325d;margin-bottom: 8px;}
.corporateCardContent p{font-weight: 400;font-size: 17px;line-height: 28px;color: #525f7f;margin-bottom: 8px;}
.corporateCardIicon{margin: 0 16px 20px 0;}
@media (min-width: 670px){
	.corporateCardSection{grid-template-columns: repeat(3,1fr);}
}
@media (max-width: 767px){
	.corporateCardSection{grid-column-gap: 32px;grid-row-gap: 32px;}
}