
.titleH2 {font-weight: 500;font-size: 19px;line-height: 32px;color: #32325d}
.textPdesc {font-weight: 400;font-size: 17px;line-height: 28px;color: #525f7f}
.linkA {color: #6772e5;font-weight: 500;-webkit-transition: color .1s ease;transition: color .1s ease;cursor: pointer;}
.customerHelpPayment {position: relative;margin: 50px 0px;}
.customerHelpPayment .web_nav {display: inline-flex;font-size: 10px}
.web_nav {display: flex;flex-direction: column;will-change: transform}
.web_nav_bar {display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: #fff;padding: .5em 1em;position: relative}
.web_navChromeless .web_nav_bar {display: none}
.web_nav_stoplight {left: 1em;top: calc(50% - .3125em)}
.web_nav_stoplight, .web_nav_stoplight:after, .web_nav_stoplight:before {width: .625em;height: .625em;background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBmaWxsPSIjQ0ZEN0RGIiBjeD0iNSIgY3k9IjUiIHI9IjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat;background-size: contain;position: absolute}
.web_nav_stoplight:after, .web_nav_stoplight:before {content: ""}
.web_nav_stoplight:before {left: calc(.5em + 100%)}
.web_nav_stoplight:after {left: calc(1em + 200%)}
.web_nav_navigation {background-color: #e6ebf1;border-radius: .25em;width: 50%;height: 1.375em;display: flex;align-items: center;justify-content: center}
.web_nav_lock {position: relative;width: .6em;height: .5em;border-radius: 1px;margin: 0 .3125em 0 0;display: flex}
.web_nav_lock .icon_nav {width: 100%;height: 100%}
.web_nav_address {height: .25em;width: 40%;background-color: #aab7c4;border-radius: .125em;border-radius: calc(.25em / 2)}
.web_nav_content {position: relative}
svg{width: 100%;height: 100%;top: 0;position: absolute;}
.Helm_fillSlate6 {fill: #aab7c4;}
.customerHelpPayment .Carousel {--space-between: 20px;width: calc(100vw - 50px)}
.customerHelpPayment .slider_item {border-radius: 4px;transition: opacity .4s cubic-bezier(.215, .61, .355, 1)}
.customerHelpPayment .slider_item img {max-width: 100%;width: 100%;vertical-align: top}
.payment_slider_horizontal .slider_item {opacity: .7}
.payment_slider_horizontal .slider_item:after,
.payment_slider_horizontal .slider_item:before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 4px;transition: opacity .4s cubic-bezier(.215, .61, .355, 1)}
.payment_slider_horizontal .slider_item:before {box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3)}
.payment_slider_horizontal .slider_item:after {box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);opacity: 0}
.payment_slider_horizontal .slider_item.is-selected {opacity: 1}
.payment_slider_horizontal .slider_item.is-selected:before {opacity: 0}
.payment_slider_horizontal .slider_item.is-selected:after {opacity: 1}
.payment_slider_vertical .Carousel {--space-between: 0px}
.payment_slider_vertical .Carousel .flickityViewport {border-radius: 4px;box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025)}
.payment_slider_vertical .Carousel .slider_item {overflow: hidden}
.payment_slider {--column-gap: 40px;--column-half-gap: calc(var(--column-gap) / 2)}
.payment_slider_carousel .flickity-page-dots {display: none}

.payment_slider_slider {display: flex;position: relative;width: 100%;height: 3px;margin: 50px 0 25px;border-radius: 1.5px}
.payment_slider_slider:before {display: block;width: inherit;height: inherit;border-radius: inherit;background-color: #e6ebf1;content: ""}
.payment_slider_slider:after {display: none;content: "horizontal"}
.payment_slider_sliderIndicator {position: absolute;top: 0;left: 0;width: 33.3333%;height: 100%;border-radius: inherit;transition: transform .4s cubic-bezier(.215, .61, .355, 1)}
.payment_slider_sliderIndicator:before {position: absolute;top: 0;left: 0;right: 0;bottom: 0;border-radius: inherit;background-color: #6772e5;content: ""}
.payment_slider_columns .flickityViewport {width: 100%;overflow: visible}
.payment_slider_columns:after {display: none;content: "flickity"}
.Carousel {margin: 0 auto}
.slider_item {width: 100%;margin: 0 var(--space-between)}
.Carousel .flickitySlider {will-change: transform}
.Carousel .flickityViewport {overflow: visible}
.payment_slider_vertical .Carousel .flickityViewport {overflow: hidden}
.Carousel .flickityPageDots {top: calc(100% + 20px);bottom: auto}
.Carousel .flickityPageDots .dot {margin: 0 5px;background-color: #aab7c4;opacity: 1;transition: background-color .4s}
.Carousel .flickityPageDots .dot.isSelected {background-color: #6b7c93}

@media(min-width:420px) {
    .customerHelpPayment .Carousel {width: 80vw}
}

@media(min-width:670px) {
    .customerHelpPayment .Carousel {--space-between: 25px}
    .customerHelpPayment .web_nav {font-size: 16px}
    .payment_slider_horizontal .payment_slider_slider {margin-top: 75px;padding: 0 var(--column-half-gap)}
    .payment_slider_horizontal .payment_slider_sliderIndicator:before {left: var(--column-half-gap);right: var(--column-half-gap)}
    .payment_slider_horizontal .payment_slider_columns {display: flex;justify-content: space-between}
    .payment_slider_horizontal .payment_slider_columns:after {content: ""}
    .payment_slider_horizontal .payment_slider_column {width: 33.3333%;margin-left: 0;margin-right: 0;padding: 0 var(--column-half-gap)}
}

@media(min-width:880px) {
    .customerHelpPayment .slider_item {max-width: 50vw}
    
    .payment_slider_column {width: 100%;margin: 0 var(--column-half-gap)}
}
@media(min-width:1040px) {
    .customerHelpPayment .Carousel {width: 820px}
}
@media(max-width:767px) {
	/*.container-lg{padding: 0px;}
	.customerHelpPayment{padding: 0 20px;}*/
	.payment_slider_column{width:100%;margin: 0 0px;padding: 0 20px;}
    .containerLg{max-width: 100%;width: auto;}

}