.getFundingSection {
  padding: 150px 20px 160px;
  margin: 0 auto 120px;
  background-color: #f6f9fc;
}
.getFundingContentWrapper {
  display: flex;
  flex-wrap: wrap;
}
.getFundingContentWrapper .getFundingContent {
  flex-basis: 100%;
}
.getFundingTitleSection figure {
  margin-right: 16px;
}
.getFundingTitleSection figure span {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}
.getFundingTitleSection figure span svg {
  width: 100%;
  height: 100%;
}
.getFundingTitleSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.getFundingTitleSection h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #6772e5;
}
.getFundingTitleSection span.background-blue {
  display: inline-block;
  padding: 4px 8px 3px;
  border-radius: 50px;
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  background-color: #6772e5;
  color: #fff;
}
.commonText {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #424770;
}
.getFundingContent-bottom {
  margin-top: 16px;
}
.getFundingContentBottomBtn a {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.getFundingContentBottomBtn a:first-child {
  margin: 10px 20px 12px 0;
}
.getFundingContentBottomBtn a:hover {
  color: #7795f8;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.getFundingContentBottomBtn a.startNow {
  background-color: #6772e5;
  color: #fff;
}
.getFundingContentBottomBtn {
  margin-top: 30px;
}
.getFundingTextRotate h2 {
  color: #32325d;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}
.getFundingTextRotate h2 span {
  color: #6772e5;
}
@media (min-width: 375px) {
  .getFundingTextRotate h2 {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (min-width: 420px) {
  .getFundingTitleSection span.background-blue {
    margin-left: 16px;
  }
}
@media (min-width: 670px) {
  .getFundingContentWrapper .getFundingContent {
    flex-basis: 80%;
  }
  .commonText {
    font-size: 24px;
    line-height: 36px;
  }
  .getFundingTextRotate h2 {
    font-size: 53px;
    line-height: 68px;
  }
}
@media (min-width: 880px) {
  .getFundingContentWrapper .getFundingContent {
    flex-basis: 54%;
  }
}
@media (min-width: 1040px) {
  .getFundingTitleSection figure {
    margin-left: -20px;
  }
}
