
.processSection{position: relative;padding: 120px 0px;background-color: #f6f9fc;}
.sectionTitle{color: #32325d;margin-bottom: 20px;font-weight: 600;line-height: 32px;letter-spacing: .025em;font-size: 20px;}
.sectionDesc{font-weight: 300;font-size: 21px;line-height: 32px;color: #424770;}
.processContentTitle{max-width: 820px;margin: 0 auto;text-align: center;}
.timeline{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;position: relative;margin-top: 70px;}
.timeline .line{background-color: #e6ebf1;position: absolute;top: 40px;bottom: 40px;left: 39px;width: 2px;}
.timelineStep{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;position: relative;}
.timeline .timelineStep .iconContainer{display: -webkit-box;display: -ms-flexbox;display: flex;position: relative;margin-right: 20px;}
.timeline .timelineStep .icon{position: relative;width: 80px;height: 80px;border-radius: 50%;background-color: #fff;background-position: 50%;background-repeat: no-repeat;}
.timeline .timelineStep .icon.submit{background-image: url(../images/template/submit.svg);}
.timeline .timelineStep .icon.documents{background-image: url(../images/template/documents.svg);}
.timeline .timelineStep .icon.incorporation{background-image: url(../images/template/incorporation.svg);}
.timeline .timelineStep .icon.tax-id{background-image: url(../images/template/tax-id.svg);}
.stepNo{}
.timelineStep p{font-weight: 400;font-size: 16px;line-height: 28px;color: #525f7f;}
.timelineStep .step-no{display: inline-block;height: 24px;padding: 0 10px;margin-top: 5px;line-height: 25px;font-size: 14px;font-weight: 600;border-radius: 12px;text-transform: uppercase;color: #fff;background-color: #e39f48;}
.timeline .timelineStep+.timelineStep{margin-top: 40px;}
.processSection .containerLg{padding: 0 20px;}
@media (min-width: 670px){
	.sectionDesc{font-size: 24px;line-height: 36px;}
	.timeline{-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
	.timeline .line{top: 39px;bottom: auto;left: 80px;right: 80px;width: auto;height: 2px;}
	.timelineStep{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;max-width: 175px;margin: 0 20px;text-align: center;}
	.timeline .timelineStep .iconContainer{margin: 0 auto 15px;}
	.timelineStep .step-no{margin-top: 15px;}
	.timeline .timelineStep.signDocuments {max-width: 191px;}
	.timeline .timelineStep+.timelineStep{margin-top: 0px;}

}
@media (max-width: 670px){
	.containerLg{width: auto}
}