
.listingCardSection{padding: 0 20px;}
.listingCardWrapper{margin-bottom: 80px;}
.listingCardWrapper .listingCardBox{position: relative;flex-direction: column;padding: 16px 16px 16px 0;display: flex;flex-direction: row;}
.listingCardWrapper .listingCardBox .listingCardLogo{width: 64px;height: 64px;border-radius: 50%;box-shadow: 0 2.5px 5px -1px rgba(50,50,93,.25), 0 1.5px 3px -1.5px rgba(0,0,0,.3);background-color: #fff;margin: 0 20px 0 0;display: block;flex-shrink: 0;transition: all .3s cubic-bezier(.215,.61,.355,1);transform-origin: right top;}
.listingCardWrapper .listingCardBox:hover .listingCardLogo{transform: scale(.75);}
.listingCardWrapper .listingCardBox > a{display: flex;outline: none;}
.listingCardBox:before, .listingCardBox:after{content: "";position: absolute;bottom: 0;left: 0;right: 0;}
.listingCardBox:before{top: 0;background-color: #fff;z-index: -1;box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);border-radius: 4px;opacity: 0;transform: scale(.95);transition: all .3s cubic-bezier(.215,.61,.355,1);}
.listingCardBox:after{height: 2px;background-color: #f6f9fc;transform-origin: left center;transition: transform .1s cubic-bezier(.215,.61,.355,1);}
.listingCardBox:hover:before{    transform: scale(1);opacity: 1;}
.listingCardBox:hover:after{transform: scaleX(0);}
.listingCardContent h3{line-height: 26px;margin: 0 0 6px;font-weight: 500;font-size: 19px;color: #32325d;}
.listingCardVontent p{color: #525f7f;font-size: 15px;line-height: 24px;display: flex;flex-direction: row;flex-wrap: wrap;}
.listingCardBadges{margin: 14px 0 0;}
.listingCardBadges .listingCardBadge{background-color: transparent;border: 1px solid #aab7c4;color: #aab7c4;padding: 1px 6px;margin: 0 8px 8px 0;display: inline-block;border-radius: 12px;padding: 2px 8px;text-transform: uppercase;font-size: 12px;font-weight: 600;}
.listingCardWrapper .listingCardBox:focus{outline: none;}
.listingCardWrapper .listingCardBox > a:focus{outline: none;}
@media (min-width: 670px){
	.listingCardWrapper{display: grid;grid-template-columns: repeat(2,1fr);grid-gap: 20px 20px;}
	.listingCardWrapper .listingCardBox{flex-direction: row;}
}
@media (min-width: 880px){
	.listingCardWrapper{grid-template-columns: repeat(3,1fr);}
}
@media (max-width: 767px){
	.listingCardWrapper .listingCardBox{z-index: 5;}
}