.quadBoxContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-items: stretch;
    margin: 0 auto;
    max-width: 1040px;
    padding: 40px;
  }

  .headerBox{
    max-width: 1040px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
  }

  h2.heading {
    margin-top: 20px;
    font-size: 40px;
  }

  h3.heading {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 21px;
  }
  
  .quadBox {
    
    box-Shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
    border-radius: 8px;
    display: flex;
    position: relative;
    overflow: hidden;
   
  }
  
  .quadBoxLeft {
    width: 40%;
    padding: 20px;
    position: relative;
    z-index: 2;
  }

  .quadBoxLeft::before {
    transform: skewX(-12deg);
    right: -20px;
    transform-origin: top right;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgb(202, 21, 21);
    position: absolute;
    top: 0;
    left: 0;
    
  }

 .imageContainer{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  }
  
  .quadBoxText {
   text-align: left;
   padding: 20px;
   width:60%;
  }

  .quadBoxText h1{
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: rgb(94, 94, 94);
  }
  .quadBoxText p{
    font-size: 18px;
    line-height: 31px;
    color: rgb(134, 134, 134);
  }

  @media only screen and (max-width: 768px) {
    .quadBoxContainer{
      grid-template-columns: auto;
      padding: 20px;
      grid-template-rows: auto;
    }

    .quadBox {
      flex-direction: column;
     
    }

    .quadBoxLeft {
      width: 100%;
      padding: 20px;
      transform: none;
      height: 25%;
    }

    .quadBoxText {
      text-align: center;
      padding: 20px;
      width:100%;
     }

  }
  