
.container {
    display: flex;
    padding: 60px;
    position: relative;
  
}

.contentContainer {
    width: 50%;
    padding-right: 20px;
}
.videoContainer{
    width: 50%;
    background-color: #000;
    position: absolute;
    --device-scale: 0.16;
    width: calc(3072px * var(--device-scale));
    height: calc(1704px * var(--device-scale));
    left: calc(65% + 100px);
    top: 90%;
    transform:translate(-120%,-50%) rotate3d(.342,-.94,0,21deg) rotateZ(7deg);
    box-shadow: 37.2px 62.5px 125px -25px rgba(50,50,93,.5), 22.3px 37.5px 75px -37.5px rgba(0,0,0,.6);
    flex-basis: content;
    align-self: flex-start;
    border-radius: 8px;
    overflow: hidden;
    margin-right: -50px;
}



@media (min-width: 670px){
    .videoContainer {
        --device-scale: 0.21;
            left: 119%;
            top: 80%;
        }
        

}

.contentContainer h1{
    margin-bottom: 20px;
    color: rgb(18, 40, 66);
    font-weight: 600;
}

.contentContainer p{
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: 400;
    font-size: 19px;
    color: #4d6385;
}

@media only screen and (max-width: 768px) {
    .videoContainer{
        display: none; 
    }

    .contentContainer {
        width: 100%;
        padding-right: 0px;
    }

}