.sectionLogosWrapper {
  padding: 0 20px;
  -webkit-box-pack: center;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sectionLogosWrapper a {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  height: 120px;
  line-height: 120px;
}
.sectionLogosWrapper a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  overflow: hidden;
  text-indent: -500px;
}
.sectionLogosWrapper span {
  background-size: 1146px 1030px;
  background-image: url(../../../images/template/content-logos.png);
}
.LogoOpentable {
  background-position: -184px -737px;
  width: 181px;
  height: 42px;
}
.LogoBlueapron {
  background-position: -1014px -579px;
  width: 99px;
  height: 47px;
}
.LogoGoodeggs {
  background-position: -907px -275px;
  width: 79px;
  height: 68px;
}
.LogoUnderArmour {
  background-position: 0 -878px;
  width: 115px;
  height: 55px;
}
.LogoTarget {
  background-position: -151px -996px;
  width: 146px;
  height: 34px;
}
.LogoWarbyParker {
  background-position: -177px -337px;
  width: 196px;
  height: 16px;
}
.LogoWish {
  background-position: -1014px -668px;
  width: 111px;
  height: 39px;
}
.LogoShopstyle {
  background-position: -733px -935px;
  width: 170px;
  height: 22px;
}
@media (min-width: 670px) {
  .sectionLogosWrapper div {
    flex-basis: 25%;
    max-width: 25%;
  }
  .sectionLogosWrapper a span {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media (min-width: 880px) {
  .sectionLogosWrapper a span {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  .sectionLogosWrapper span {
    background-image: url(../../../images/template/content-logos@2x.png);
  }
}
@media (max-width: 880px) {
  .sectionLogosWrapper div {
    flex-basis: 50%;
    max-width: 50%;
  }
}
