* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none
}

button,
select {
  border: none;
  outline: none;
  background: none;
  
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent
}

:root {
  overflow-x: hidden;
  height: 100%
}

body {
  background: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 62.5%;
  font-family: "proxima", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums
}

.globalContent {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

html[lang=ja] body {
  font-family: "proxima", sans-serif
}

code,
pre {
  font-family: "proxima", sans-serif
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-wide,
.container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%
}


.container,
.container-lg {
  max-width: 1040px
}


/*---------------My Styles-------------------*/

.dropdownContent h3{
color:#5F5E5F;
font-weight: 600;
font-size: 16px;
text-transform: capitalize;
}

.dropdownContent a:link{
  font-size: 14px;
}

.dropdownContent{
  display: flex;
  flex-wrap: wrap;
}

.productNav{
  width: 25%;
  flex: 1 1 25%;
  box-sizing: border-box;
  padding: 10px;
}

.productNavItem {
 padding-top: 5px;
 
}




/*---------------END-------------------*/

.globalNav {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  z-index: 500;
  height: 50px;
  -webkit-perspective: 2000px;
  perspective: 2000px
}

.globalNav ul {
  padding: 0;
  margin: 0
}

.globalNav li {
  list-style: none
}

.globalNav a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #7D7D7D
}

.globalNav a:not(.common-Button) {
  -webkit-transition: color .1s;
  transition: color .1s
}

.globalNav a:hover {
  color: #7D7D7D;
  text-decoration: underline;
}

.globalNav>.container-lg {
  padding: 0
}

.globalNav .navRoot {
  position: relative
}

.globalNav .navSection>a,
.globalNav .navSection>button {
  outline: none
}

.globalNav .navSection.logo {
  position: absolute;
  top: 0;
  left: 0
}

.globalNav .navSection.primary,
.globalNav .navSection.secondary {
  position: absolute;
  top: 0;
  right: 0
}

.globalNav .navSection.primary {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.globalNav .navSection.secondary {
  position: absolute;
  top: 0;
  right: 0
}

.globalNav .navSection.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}


.globalNav.compact .navRoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.globalNav.compact .navSection.logo {
  position: static;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.globalNav.compact .navSection.secondary {
  position: static
}

.globalNav .rootLink {
  display: inline-block;
  height: 50px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px
}


.globalNav .rootLink>* {
  position: relative;
  display: block
}

.globalNav .navSection.logo .rootLink {
  padding-left: 20px!important
}

.globalNav .navSection.secondary .rootLink:last-child {
  padding-right: 20px!important
}

.globalNav .navSection.primary .rootLink {
  font-weight: 500
}

.globalNav .hasDropdown {
  cursor: default
}



.globalNav .dropdownRoot {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 50px;
  pointer-events: none;
  -webkit-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
  -webkit-transform-origin: 50% -50px;
  transform-origin: 50% -50px;
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  /*display: none*/
}

.globalNav.dropdownActive .dropdownRoot {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none
}

.globalNav .dropdownBackground {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), 0 -18px 60px -10px rgba(0, 0, 0, .025);
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), 0 -18px 60px -10px rgba(0, 0, 0, .025);
  width: 380px;
  height: 400px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

.rootLink.active{
  color: #477AC2;
}

.globalNav .alternateBackground,
.globalNav .dropdownBackground {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .25s;
  transition-duration: .25s
}

.globalNav .alternateBackground {
  right: 0;
  height: 1000px;
  background: #f6f9fc
}

.globalNav .dropdownArrow {
  top: -6px;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px 0 0 0;
  background: #fff;
  -webkit-box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
  box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
  will-change: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform
}

.globalNav .dropdownArrow,
.globalNav .dropdownContainer {
  position: absolute;
  left: 0;
  -webkit-transition-duration: .25s;
  transition-duration: .25s
}

.globalNav .dropdownContainer {
  overflow: hidden;
  width: 500px;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform, width, height;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, -webkit-transform;
  transition-property: transform, width, height;
  transition-property: transform, width, height, -webkit-transform
}

.globalNav .dropdownSection {
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  background: red
}

.globalNav .dropdownSection.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.globalNav .dropdownSection.left {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px)
}

.globalNav .dropdownSection.right {
  -webkit-transform: translateX(150px);
  transform: translateX(150px)
}

.globalNav.dropdownActive .dropdownSection.active {
  pointer-events: auto
}

.globalNav.noDropdownTransition .alternateBackground,
.globalNav.noDropdownTransition .dropdownArrow,
.globalNav.noDropdownTransition .dropdownBackground,
.globalNav.noDropdownTransition .dropdownContainer,
.globalNav.noDropdownTransition .dropdownSection {
  -webkit-transition: none;
  transition: none
}

.globalNav .dropdownContent {
  position: absolute;
  top: 0;
  left: 0
}

.globalNav .linkGroup {
  padding: 20px 35px
}

.globalNav .linkContainer {
  display: block;
  padding: 9px 0;
  outline: none;
  position: relative
}

.keyboard-navigation .globalNav .linkContainer:focus:before {
  opacity: .5
}