<!DOCTYPE html>
<html ontouchmove>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>Diverse content module creation</title>
    <link rel="stylesheet" type="text/css" href="style.css?var=1.0.5" />
    <script src="js/jquery.js"></script>
    <script src="js/custom.js?var=1.0.6"></script>
  </head>
  <body>
    <div class="content-wrapper powerful-tools-wrapper">
      <div class="container-lg">
        <div class="powerfultoolssection">
          <div class="powerful-tools-section">
            <div class="powerful-title-section">
              <h2>Powerful tools for fraud professionals</h2>
              <p>
                Radar for Fraud Teams helps you fine-tune how Radar operates,
                get fraud insights on suspicious charges, and assess your fraud
                management performance from a unified dashboard.
              </p>
              <div class="powerful-tools-btn">
                <a href="#" class="common-button get_started_btn common-Link"
                  >Get Started</a
                >
                <a href="#" class="common-button contact_sales_btn common-Link"
                  >Contact Sales</a
                >
              </div>
            </div>
            <div class="fraud-teams-media">
              <div class="fraudteams_video-container">
                <div class="fraudteams_video">
                  <div class="fraud-Video">
                    <video
                      muted=""
                      playsinline=""
                      autoplay=""
                      webkit-playsinline=""
                      loop=""
                      id="demovideo"
                      poster="images/video-poster.jpg"
                      preload="metadata"
                    >
                      <source src="samplevideo.mp4" type="video/mp4" />
                      <source src="samplevideo.mp4" type="video/ogg" />
                    </video>
                    <div class="actualVideo">
                      <video
                        class="js-actual-video"
                        id="Video1"
                        poster=""
                        controls
                        style="opacity: 0;"
                      >
                        <source src="sample.mp4" type="video/webm" />
                        <source src="sample.mp4" type="video/mp4" />
                      </video>
                    </div>
                    <div class="fraudteams_video_controls">
                      <button
                        class="fraudteams_video_toggle js-toggle playbutton-visible"
                        data-play="Play video"
                        data-pause="Pause video"
                      >
                        <div class="js-play-pulse Hero__pulse"></div>
                        <div class="Hero__tooltip--play">
                          <div class="Helm-Tooltip">
                            <div class="Tooltip">
                              <div class="Tooltip__icon"></div>
                              <p
                                class-name="Tooltip__content"
                                class="common-BodyText Helm__text--slate1 Tooltip__content"
                              >
                                Hear from our cofounders and COO
                              </p>
                              <div x-arrow="" class="Tooltip__arrow"></div>
                            </div>
                          </div>
                        </div>
                        <span class="video_controls-icon"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            fill="#555abf"
                            class="icon--play"
                          >
                            <path
                              d="M7.74,31.44C5.67,32.69,4,31.74,4,29.32V2.67C4,.25,5.68-.7,7.74.55L29.56,13.73c2.07,1.25,2.06,3.28,0,4.52Z"
                            ></path></svg
                        ></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
